<div class="source-list-modal" style="height:100%;background-color:#eaeae1;">
  <h2 style="text-align:center;"><img src="images/add_income.png"> EDIT INCOME</h2>
  <form class="form-horizontal" role="form" ng-submit="submit()" ng-show="loading == false">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" placeholder="Income name" ng-model="income.name" required >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-9">
        <textarea type="text" rows="5"  class="form-control" id="description" placeholder="Description ..." ng-model="income.description"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="amount">Amount:</label>
      <div class="col-sm-4">
        <input type="number" step="any" class="form-control" id="amount" placeholder="Income amount" ng-model="income.amount" required >
      </div>
      <label class="control-label col-sm-2" for="amount">Currency:</label>
      <div class="col-sm-3">
        <select type="string" class="form-control" id="currency" placeholder="Currency" ng-model="income.currency" required>
          <option ng-repeat="currency in availableCurrencies" value="{{currency}}" required>{{currency}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="date">Creation date:</label>
      <div class="col-sm-4">
        <input type="datetime-local" value="{{current_date_value}}" class="form-control" id="date" placeholder="date"
               ng-model="income.creationDate" required >
      </div>
      <label class="control-label col-sm-2" for="amount">Frequency:</label>
      <div class="col-sm-3">
        <select type="number" class="form-control" id="frequency" placeholder="Frequency" ng-model="income.frequency"
                ng-options="frequency.value as frequency.text for frequency in availableFrequencies" required>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" class="btn btn-success submit-btn">
          <span class="glyphicon glyphicon-pencil"></span> Save
        </button>
      </div>
      <div class="col-sm-7">
        <button type="button" ng-click="cancel()" class="btn btn-danger submit-btn">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </form>
  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>
</div>
