<div class="container sign-up-container">
  <h3 style="text-align:center;"><img src="images/expense_categories.svg"> EXPENSE CATEGORIES</h3>
</div>

<br>
<div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-9">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn accountant-btn" ng-click="saveCategory()">
          <span class="glyphicon glyphicon-plus"></span> Add category
        </button>
      </div>
    </div>
    </label>
  </form>
  <table class="table table-bordered table-hover" ng-show="loading == false">
    <thead class="grey-bg">
    <tr>
      <th>Category Name</th>
      <!--<th>Colour Name</th>-->
      <th>Amount limit</th>
      <th>Colour</th>
      <th style="width: 80px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories">
      <td>{{ category.name }}</td>
      <td class="text-right">
        {{ category.threshold.toFixed(2) }} <span class="text-primary">{{defaultCurrency}}</span>&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <pre style="background-color:{{colours_map[category.colour]}};height:22px;">      </pre>
      </td>
      <td class="text-right">
        <span class="glyphicon glyphicon-pencil control-icon-green" bs-tooltip title="Edit category!"
              ng-click="saveCategory(category)"></span>
        <span class="glyphicon glyphicon-trash control-icon-red" style="float:right;" bs-tooltip title="Delete category!"
              ng-click="deleteCategory(category)"></span></td>
    </tr>
    <tr ng-show="categories.length == 0">
      <td style="font-style:italic;" colspan="5">No category have been found!</td>
    </tr>
    </tbody>
  </table>

  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>
</div>
