<div class="container sign-up-container">
  <h2 style="text-align:center;"><img src="images/expenses_history.svg"> EXPENSES HISTORY</h2>
  <br>
</div>
<br>
<button type="button" class="btn btn-primary btn-block" ng-click="addExpenseAttempt()">Add new expense</button>
<br>
<div>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expense in expenses" bs-tooltip title="{{expense.description}}" >
      <td>{{ expense.name }}</td>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.category.name }}</td>
      <td>{{ expense.creationDate | date:'medium' }}</td>
      <td><span class="glyphicon glyphicon-pencil" bs-tooltip title="Edit expense!" ng-click="editExpense($index)"></span>
        <span class="glyphicon glyphicon-trash" style="float:right;" bs-tooltip title="Delete expense!"
              ng-click="deleteExpense($index)"></span></td>
    </tr>
    <tr ng-show="expenses.length == 0">
      <td style="font-style:italic;" colspan="5">No expense have been found!</td>
    </tr>
    </tbody>
  </table>
</div>
