<div class="container sign-up-container">
  <h2 style="text-align:center;"><img src="images/expenses_history.svg"> EXPENSES HISTORY</h2>
  <br>
</div>
<br>
<button type="button" class="btn btn-primary btn-block" ng-click="addExpenseAttempt()">Add new expense</button>
<br>
<div>
  <table class="table table-bordered table-hover" ng-show="loading == false">
    <thead>
    <tr>
      <th>Name
        <span class="glyphicon glyphicon-sort" bs-tooltip title="Sort by name" ng-click="changeSortingCriteria('name')"></span>
      </th>
      <th>Amount
        <span class="glyphicon glyphicon-sort" bs-tooltip title="Sort by amount" ng-click="changeSortingCriteria('amount')"></span>
      </th>
      <th>Currency
        <span class="glyphicon glyphicon-sort" bs-tooltip title="Sort by currency" ng-click="changeSortingCriteria('currency')"></span>
      </th>
      <th>Category
        <span class="glyphicon glyphicon-filter" bs-tooltip title="Filter by category" ng-click="filterByCategory()"></span>
        <span class="glyphicon glyphicon-sort" bs-tooltip title="Sort by category" ng-click="changeSortingCriteria('category.name')"></span>
        <span class="glyphicon glyphicon-question-sign" bs-tooltip title="Use colours for categories" ng-click="useColoursForCategories()"></span>
      </th>
      <th>Date
        <span class="glyphicon glyphicon-sort" bs-tooltip title="Sort by date" ng-click="changeSortingCriteria('creationDate')"></span>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expense in expenses | orderBy:sortColumn:sortReverse | filter:filter_category:strict" bs-tooltip title="{{expense.description}}" >
      <td>{{ expense.name }}</td>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.currency }}</td>
      <td style=" background-color:{{(showCategoriesColors == true) ? colours_map[expense.category.colour] : white}};">
        {{ expense.category.name }}
      </td>
      <td>{{ expense.creationDate | date:'medium' }}</td>
      <td>
        <span class="glyphicon glyphicon-pencil" bs-tooltip title="Edit expense!"
                ng-click="editExpense(expense)"></span>
        <span class="glyphicon glyphicon-trash" style="float:right;" bs-tooltip title="Delete expense!"
              ng-click="deleteExpense(expense)"></span>
      </td>
    </tr>
    <tr ng-show="expenses.length == 0">
      <td style="font-style:italic;" colspan="5">No expense have been found!</td>
    </tr>
    </tbody>
  </table>
  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>
</div>
