<div class="container sign-up-container">
  <h3 style="text-align:center;"><img src="images/expenses_chart.svg"> EXPENSES CHART <span ng-if="default_currency" style="font-style: italic;">({{default_currency}})</span></h3>
  <br/>
  <br/>
  <div class="form-group">
    <label class="control-label col-sm-3">Graphic type:</label>
    <div class="col-sm-8">
      <select type="date" class="form-control" id="graphic" placeholder="Category" ng-model="graphic_type"
              ng-change="onGraphicChange(graphic_type, selected_year);" required>
        <option ng-repeat="graphic in graphics" value="{{graphic}}" required>{{graphic}}</option>
      </select>
    </div>
  </div>
  <br>
</div>

<div id="graphic_container" style="margin-top:30px;">

  <div ng-show="loading == false">
    <div id="selection_area" class="form-group">

      <div ng-if="graphic_type.indexOf('LINEAR') === -1 && graphic_type.indexOf('BAR') === -1 && graphic_type.indexOf('DYNAMIC') === -1">
        <label class="control-label col-sm-2">Change year:</label>
        <div class="col-sm-3">
          <select type="date" class="form-control" id="year_select" placeholder="year" ng-model="selected_year"
                  ng-change="onPeriodSelect(true, selected_year)">
            <option ng-repeat="year in yearsArray" value="{{year}}" required>{{year}}</option>
          </select>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-info-sign" bs-tooltip title="Expenses are presented in your default currency: {{default_currency}}"></span>
        </div>
      </div>

      <div ng-show="graphic_type.indexOf('LINEAR') > -1 || graphic_type.indexOf('BAR') > -1 || graphic_type.indexOf('DYNAMIC') > -1">
        <label class="col-sm-4">
          <span class="input-label">From: </span>
          <input type="date" ng-model="expenseFromDate" ng-change="onDateSelect()">
        </label>
        <label class="col-sm-4">
          <span class="input-label">Until: </span>
          <input type="date" ng-model="expenseUntilDate" ng-change="onDateSelect()">
        </label>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-info-sign" bs-tooltip title="Expenses are presented in your default currency: {{default_currency}}"></span>
        </div>
      </div>

      <div class="col-sm-3" ng-if="graphic_type.indexOf('DYNAMIC') === -1">
        <button ng-if="!show_categories_legend" type="button" class="btn accountant-btn" ng-click="toggleLegendShow()" style="width:100%">
          <span class="glyphicon glyphicon-retweet"></span> Show categories legend
        </button>
        <button ng-if="show_categories_legend" type="button" class="btn accountant-btn" ng-click="toggleLegendShow()" style="width:100%">
          <span class="glyphicon glyphicon-retweet"></span> Hide categories legend
        </button>
      </div>
      <div class="col-sm-3" ng-if="graphic_type.indexOf('DYNAMIC') > -1">
        <button type="button" class="btn accountant-btn" ng-click="toggleDynamicGraphic()" style="width:100%">
          <span class="glyphicon glyphicon-retweet"></span> Toggle graphic type
        </button>
      </div>
    </div>

    <div ng-show="graphic_type.indexOf('PIE') > -1" class="form-group">
      <br/><br/>
      <div class="col-sm-2">
        <label class="control-label">Change month:</label>
      </div>
      <div class="col-sm-3">
        <select type="date" class="form-control" id="month_select" placeholder="month" ng-model="selected_month"
                ng-change="onPeriodSelect(false)">
          <option ng-repeat="month in monthsArray" value="{{month}}" required>{{month}}</option>
        </select>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-3"></div>
      <br/><br/>
    </div>
    <br/>
    <div id="linear_chart" ng-if="graphic_type.indexOf('LINEAR') > -1" >
      <label ng-if="dataLinear.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/><br/>- No expenses for the selected period -
      </label>
      <canvas ng-if="show_categories_legend" class="chart chart-line" chart-data="dataLinear"
              chart-labels="labelsLinear" chart-series="seriesLinear" chart-legend="true"
              chart-click="onClick" >
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-line" chart-data="dataLinear"
              chart-labels="labelsLinear" chart-series="seriesLinear" chart-legend="false"
              chart-click="onClick" >
      </canvas>
    </div>

    <div id="bar_chart" ng-if="graphic_type.indexOf('BAR') > -1" >
      <label class="col-sm-4">
        <span class="input-label">Select categories: </span>
      </label>
      <div class="col-sm-4">
        <div ng-dropdown-multiselect="" options="categoriesData" selected-model="barCategoriesModel" extra-settings="categoriesSettings"
             style="width:80%;"></div>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-default accountant-btn" bs-tooltip title="Apply categories selection"
                ng-click="applyCategoriesSelect()">
          <span class="glyphicon glyphicon-play"></span>
        </button>
      </div>
      <div class="col-sm-3">
      </div>

      <label ng-if="dataBar.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/><br/>- No expenses for the selected period -
      </label>
      <canvas ng-if="show_categories_legend" class="chart chart-bar"
              chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-bar"
              chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar">
      </canvas>
    </div>

    <div id="dynamic_chart" ng-if="graphic_type.indexOf('DYNAMIC') > -1">
      <label class="col-sm-4">
        <span class="input-label">Select categories: </span>
      </label>
      <div class="col-sm-4">
        <div ng-dropdown-multiselect="" options="categoriesData" selected-model="dynamicCategoriesModel" extra-settings="categoriesSettings"
             style="width:80%;"></div>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-default accountant-btn" bs-tooltip title="Apply categories selection"
                ng-click="applyCategoriesSelect()">
          <span class="glyphicon glyphicon-play"></span>
        </button>
      </div>
      <div class="col-sm-3">
      </div>
      <br/><br/> <br/><br/>

      <label ng-if="dataDynamic.length === 0" class="warn-chart-label">
        <br/><br/><br/>- No expenses for the selected period -
      </label>
      <canvas ng-if="show_categories_legend" class="chart-base" chart-type="typeDynamic"
              chart-data="dataDynamic" chart-labels="labelsDynamic" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart-base" chart-type="typeDynamic"
              chart-data="dataDynamic" chart-labels="labelsDynamic">
      </canvas>
    </div>

    <div id="pie_chart" ng-if="graphic_type.indexOf('PIE') > -1" >
      <label ng-if="dataPie.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/><br/>- No expenses for the selected period -
      </label>
      <canvas ng-if="show_categories_legend" class="chart chart-pie"
              chart-data="dataPie" chart-labels="labelsPie" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-pie"
              chart-data="dataPie" chart-labels="labelsPie">
      </canvas>
    </div>

    <div id="doughnut_chart" ng-if="graphic_type.indexOf('DOUGHNUT') > -1" >
      <label ng-if="dataDoughnut.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/><br/>- No expenses for the selected period -
      </label>
      <canvas ng-if="show_categories_legend" class="chart chart-doughnut"
              chart-data="dataDoughnut" chart-labels="labelsDoughnut" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-doughnut"
               chart-data="dataDoughnut" chart-labels="labelsDoughnut">
      </canvas>
    </div>

  </div>
  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>

  <br>
</div>

