<div class="container sign-up-container">
  <h2 style="text-align:center;"><img src="images/expenses_chart.svg"> EXPENSES CHART <span ng-if="default_currency" style="font-style: italic;">({{default_currency}})</span></h2>
  <br>
  <div class="form-group">
    <label class="control-label col-sm-3">Graphic type:</label>
    <div class="col-sm-8">
      <select type="date" class="form-control" id="graphic" placeholder="Category" ng-model="graphic_type" required>
        <option ng-repeat="graphic in graphics" value="{{graphic}}" required>{{graphic}}</option>
      </select>
    </div>
  </div>
  <br>
  <br>
</div>
<br>

<div id="graphic_container">

  <div ng-show="loading == false">
    <div id="selection_area" class="form-group">

      <div ng-if="graphic_type.indexOf('LINEAR') === -1 && graphic_type.indexOf('BAR') === -1 && graphic_type != 'DYNAMIC'">
        <label class="control-label col-sm-2">Change year:</label>
        <div class="col-sm-3">
          <select type="date" class="form-control" id="year_select" placeholder="year" ng-model="selected_year"
                  ng-change="onPeriodSelect(true, selected_year)">
            <option ng-repeat="year in yearsArray" value="{{year}}" required>{{year}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-info-sign" bs-tooltip title="Expenses are presented in your default currency: {{default_currency}}"></span>
        </div>
      </div>

      <div ng-show="graphic_type.indexOf('LINEAR') > -1 || graphic_type.indexOf('BAR') > -1 || graphic_type == 'DYNAMIC'">
        <label class="col-sm-4">
          <span class="input-label">From: </span>
          <input type="date" ng-model="expenseFromDate" ng-change="onDateSelect()">
        </label>
        <label class="col-sm-4">
          <span class="input-label">Until: </span>
          <input type="date" ng-model="expenseUntilDate" ng-change="onDateSelect()">
        </label>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-info-sign" bs-tooltip title="Expenses are presented in your default currency: {{default_currency}}"></span>
        </div>
      </div>

      <div class="col-sm-3">
        <input type="button" ng-if="!show_categories_legend" class="form-control" value="Show categories legend"
               ng-click="toggleLegendShow()">
        <input type="button" ng-if="show_categories_legend" class="form-control" value="Hide categories legend"
               ng-click="toggleLegendShow()">
      </div>
    </div>
    <div ng-show="graphic_type == 'PIE' || graphic_type == 'DYNAMIC'" id="selection_area2" class="form-group">
      <label class="control-label col-sm-2">Change month:</label>
      <div class="col-sm-3">
        <select type="date" class="form-control" id="month_select" placeholder="month" ng-model="selected_month"
                ng-change="onPeriodSelect(false)">
          <option ng-repeat="month in monthsArray" value="{{month}}" required>{{month}}</option>
        </select>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
        <input  ng-show="graphic_type == 'DYNAMIC'" type="button" class="form-control" value="Toggle graphic type"
               ng-click="toggleDynamicGraphic()">
      </div>
    </div>
    <br/>
    <br/>
    <div id="linear_chart" ng-if="graphic_type.indexOf('LINEAR') > -1" >
      <canvas ng-if="show_categories_legend" class="chart chart-line" chart-data="dataLinear"
              chart-labels="labelsLinear" chart-series="seriesLinear" chart-legend="true"
              chart-click="onClick" >
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-line" chart-data="dataLinear"
              chart-labels="labelsLinear" chart-series="seriesLinear" chart-legend="false"
              chart-click="onClick" >
      </canvas>
    </div>

    <div id="bar_chart" ng-if="graphic_type.indexOf('BAR') > -1" >
      <label class="col-sm-4">
        <span class="input-label">Select caregories: </span>
      </label>
      <div class="form-group col-sm-4">
        <div ng-dropdown-multiselect="" options="categoriesData" selected-model="categoriesModel" extra-settings="categoriesSettings"
             style="width:80%;"></div>
      </div>
      <div class="form-group col-sm-4">
        <button type="button" class="btn btn-block accountant-btn" ng-click="applyCategoriesSelect()" style="color:white !important;">APPLY SELECT</button>
      </div>
      <canvas ng-if="show_categories_legend" class="chart chart-bar"
              chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-bar"
              chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar">
      </canvas>
    </div>

    <div id="doughnut_chart" ng-if="graphic_type == 'DOUGHNUT'" >
      <canvas ng-if="show_categories_legend" class="chart chart-doughnut"
              chart-data="dataDoughnut" chart-labels="labelsDoughnut" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-doughnut"
               chart-data="dataDoughnut" chart-labels="labelsDoughnut">
      </canvas>
      <br>
      <br>
      <div class="form-group">
        <label class="control-label col-sm-11" style="width:100%;text-align:center;">DOUGHNUT graphic chart displays YEARLY calculation
          for categories. For MONTHLY calculation please change to PIE or DYNAMIC graphic.
        </label>
      </div>
    </div>

    <div id="pie_chart" ng-if="graphic_type == 'PIE'" >
      <canvas ng-if="show_categories_legend" class="chart chart-pie"
              chart-data="dataPie" chart-labels="labelsPie" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-pie"
              chart-data="dataPie" chart-labels="labelsPie">
      </canvas>
      <br>
      <br>
      <div class="form-group">
        <label class="control-label col-sm-11" style="width:100%;text-align:center;">PIE graphic chart displays MONTHLY calculation
          for categories. For YEARLY calculation please change to DOUGHNUT graphic.
        </label>
      </div>
    </div>

    <div id="polar_chart" ng-if="graphic_type == 'POLAR'" >
      <canvas ng-if="show_categories_legend" class="chart chart-polar-area"
              chart-data="dataPolar" chart-labels="labelsPolar" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart chart-polar-area"
              chart-data="dataPolar" chart-labels="labelsPolar">
      </canvas>
      <br>
      <br>
      <div class="form-group">
        <label class="control-label col-sm-11" style="width:100%;text-align:center;">POLAR graphic chart displays YEARLY calculation
          for categories. For MONTHLY calculation please change to PIE or DYNAMIC graphic.
        </label>
      </div>
    </div>

    <div id="dynamic_chart" ng-if="graphic_type == 'DYNAMIC'">
      <canvas ng-if="show_categories_legend" class="chart-base" chart-type="typeDynamic"
              chart-data="dataDynamic" chart-labels="labelsDynamic" chart-legend="true">
      </canvas>
      <canvas ng-if="!show_categories_legend" class="chart-base" chart-type="typeDynamic"
              chart-data="dataDynamic" chart-labels="labelsDynamic">
      </canvas>
    </div>
  </div>
  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>

  <br>
</div>

