<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Accountant</title>
    <meta name="description" content="The Accountant is a light financial application made by Wasy Software.
      Useful to keep your budget under control by creating helpful statistics comparing expenses and incomes.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script>
	  // Initialize Firebase
	  var config = {
      apiKey: "AIzaSyC_jk-frIJgf841nRq8_Ookx9ILbVJDVtk",
      authDomain: "the-accountant-88723.firebaseapp.com",
      databaseURL: "https://the-accountant-88723.firebaseio.com",
      storageBucket: "",
      messagingSenderId: "1039276371225"
	  };
	  firebase.initializeApp(config);
	</script>
  </head>
  <body ng-app="mmtUiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container container-nav">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/"><span><img class="menu_logo_img" src="images/logo.svg" height="30" width="30"> The Accountant</span></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li class="dropdown" ng-if="authenticated === true">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                  <span class="glyphicon glyphicon-piggy-bank"> Income<span class="caret"></span></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/add_incomes">Add incomes</a></li>
                  <li><a href="#/incomes_history">Incomes history</a></li>
                  <li><a href="#/incomes_chart">Incomes chart</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-if="authenticated === true">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                  <span class="glyphicon glyphicon-usd"> Expense<span class="caret"></span></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/add_expenses">Add expenses</a></li>
                  <li><a href="#/expenses_history">Expenses history</a></li>
                  <li><a href="#/expenses_chart">Expenses chart</a></li>
                  <li><a href="#/expense_categories">Categories</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="authenticated === false"><a href="#/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li ng-if="authenticated === false"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li ng-if="authenticated === true"><a href="#/profile"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
              <li ng-if="authenticated === true"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container mid-container">
    <div ng-view=""></div>
    </div>

    <div class="footer navbar navbar-inverse"
         style="margin-bottom:2px; !important;margin-top:2px; !important; padding-top:10px !important; font-size: 13px;">
      <div class="container">
        <div class="form-group row" style="margin-bottom: 5px;">
          <span class="col-5"><img src="images/logo.svg" height="20" width="20"> The Accountant - <a href="#/privacypolicy.htm">Privacy Policy</a> </span>
          <!--<span> {{isEng() ? 'Change language:':'Schimba limba:'}}
            <img src="{{ 'images/flags/' + FLAG}}" height="12" width="17">
            <select ng-disabled="true" type="date" id="language" placeholder="Category" ng-model="LANGUAGE"
                  ng-change="changeLanguage(LANGUAGE)" required>
              <option ng-repeat="language in ['ENG', 'RO']" value="{{language}}" required>{{language}}</option>
            </select>
          </span>-->
          <span class="col-7" style="float:right;"><a href="https://play.google.com/store/apps/details?id=com.ionicframework.mymoneytracker" style="cursor: hand; cursor: pointer;color: #777;"><img src="images/logo/20_20_gogleplay.svg"> Check out Android App</a></span>
        </div>
        <div class="form-group row" style="margin-bottom: 5px;">
          <span class="col-5">Made by Wasy Software</span>
          <span class="col-7" style="float:right;">Any feedback appreciated at: <b><i>feedback.theacctnt@gmail.com</i></b></span>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/services/expense/ExpenseUtilFactory.js"></script>
        <script src="scripts/services/income/IncomeUtilFactory.js"></script>
        <script src="scripts/services/chart/ChartUtilFactory.js"></script>
        <script src="scripts/services/category_service.js"></script>
        <script src="scripts/services/CurrencyUtilFactory.js"></script>
        <script src="scripts/services/date_time_service.js"></script>
        <script src="scripts/services/host_name.js"></script>
        <script src="scripts/services/modal_template_service.js"></script>

        <script src="scripts/directives/bs_tooltip.js"></script>
        <script src="scripts/directives/loading_page.js"></script>

        <script src="scripts/filters/unique.js"></script>

        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/user/sign_up.js"></script>
        <script src="scripts/controllers/user/login.js"></script>
        <script src="scripts/controllers/user/logout.js"></script>
        <script src="scripts/controllers/user/profile.js"></script>
        <script src="scripts/controllers/user/renew_forgot_password.js"></script>
        <script src="scripts/controllers/user/activation.js"></script>
        <script src="scripts/controllers/expense/add_expenses.ctrl.js"></script>
        <script src="scripts/controllers/expense/expenses_history.js"></script>
        <script src="scripts/controllers/expense/expenses_chart.js"></script>
        <script src="scripts/controllers/expense/expense_categories.js"></script>
        <script src="scripts/controllers/income/add_incomes.ctrl.js"></script>
        <script src="scripts/controllers/income/incomes_history.js"></script>
        <script src="scripts/controllers/income/incomes_chart.js"></script>
        <script src="scripts/controllers/modal/warning_popup.js"></script>
        <script src="scripts/controllers/modal/change_password_popup.js"></script>
        <script src="scripts/controllers/modal/forgot_password_popup.js"></script>
        <script src="scripts/controllers/modal/edit_expense_popup.js"></script>
        <script src="scripts/controllers/modal/edit_income_popup.js"></script>
        <script src="scripts/controllers/modal/category_filter_popup.js"></script>
        <script src="scripts/controllers/modal/edit_category_popup.js"></script>
        <!-- endbuild -->
</body>
</html>
