<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="mmtUiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container container-nav">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/"><span><img class="menu_logo_img" src="images/logo.svg">My Money Tracker</span></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li class="dropdown" ng-show="authenticated">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                  <span class="glyphicon glyphicon-piggy-bank"> {{isEng() ? 'Income':'Incasari'}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/add_income">{{isEng() ? 'Add income':'Adauga incasare'}}</a></li>
                  <li><a href="#/incomes_history">{{isEng() ? 'Incomes history':'Istoric incasari'}}</a></li>
                  <li><a href="#/incomes_chart">{{isEng() ? 'Incomes chart':'Grafic incasari'}}</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-show="authenticated">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                  <span class="glyphicon glyphicon-usd"> {{isEng() ? 'Expense':'Cheltuieli'}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/add_expense">{{isEng() ? 'Add expense':'Adauga cheltuiala'}}</a></li>
                  <li><a href="#/expenses_history">{{isEng() ? 'Expenses history':'Istoric cheltuieli'}}</a></li>
                  <li><a href="#/expenses_chart">{{isEng() ? 'Expenses chart':'Grafic cheltuieli'}}</a></li>
                  <li><a href="#/expense_categories">{{isEng() ? 'Categories':'Categorii'}}</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="authenticated"><a href="#/sign_up"><span class="glyphicon glyphicon-user"></span> {{isEng() ? 'Sign Up':'Inregistreaza-te'}}</a></li>
              <li ng-hide="authenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> {{isEng() ? 'Login':'Logare'}}</a></li>
              <li ng-show="authenticated"><a href="#/profile"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
              <li ng-show="authenticated"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span> {{isEng() ? 'Logout':'Delogare'}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container mid-container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>
          <span><img src="images/logo.svg" height="23" width="23"> My Money Tracker | </span>
          <span> {{isEng() ? 'Change language:':'Schimba limba:'}}
            <img src="{{ 'images/flags/' + FLAG}}" height="12" width="17">
            <select type="date" id="language" placeholder="Category" ng-model="LANGUAGE"
                  ng-change="changeLanguage(LANGUAGE)" required>
              <option ng-repeat="language in ['ENG', 'RO']" value="{{language}}" required>{{language}}</option>
            </select>
          </span>
          <span style="float:right;">Copyright © 2016 Florin - All rights reserved</span>
        </p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>

        <script src="scripts/controllers/user/sign_up.js"></script>
        <script src="scripts/controllers/user/login.js"></script>
        <script src="scripts/controllers/user/logout.js"></script>
        <script src="scripts/controllers/user/profile.js"></script>

        <script src="scripts/controllers/expense/add_expense.js"></script>
        <script src="scripts/controllers/expense/expenses_history.js"></script>
        <script src="scripts/controllers/expense/expenses_chart.js"></script>
        <script src="scripts/controllers/expense/expense_categories.js"></script>

        <script src="scripts/controllers/income/add_income.js"></script>
        <script src="scripts/controllers/income/incomes_history.js"></script>
        <script src="scripts/controllers/income/incomes_chart.js"></script>

        <script src="scripts/controllers/modal/warning_popup.js"></script>
        <script src="scripts/controllers/modal/edit_expense_popup.js"></script>
        <script src="scripts/controllers/modal/edit_income_popup.js"></script>
        <script src="scripts/controllers/modal/category_filter_popup.js"></script>
        <script src="scripts/controllers/modal/edit_category_popup.js"></script>

        <script src="scripts/services/category_service.js"></script>
        <script src="scripts/services/date_time_service.js"></script>
        <script src="scripts/services/host_name.js"></script>
        <script src="scripts/services/modal_template_service.js"></script>

        <script src="scripts/directives/bs_tooltip.js"></script>

        <script src="scripts/filters/unique.js"></script>
        <!-- endbuild -->
</body>
</html>
