<div class="container sign-up-container">
  <h3 style="text-align:center;"><img src="images/counterparty_list.svg" width="90px"> MY COUNTERPARTIES</h3>
  <br/>
</div>
<br/>

<form class="form-horizontal" role="form" ng-submit="submit()" ng-show="loading == false">
  <div class="form-group">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-block accountant-btn" ng-click="saveCounterparty()">
        <span class="glyphicon glyphicon-plus"></span> Add counterparty
      </button>
    </div>
  </div>
  <div>
    <table class="table table-bordered table-hover">
      <thead class="grey-bg">
      <tr>
        <th>Name
          <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by name"
                ng-click="changeSortingCriteria('name')"></span>
        </th>
        <th>Email
          <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by email"
                ng-click="changeSortingCriteria('email')"></span>
        </th>
        <th>Total amount
          <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by total amount"
                ng-click="changeSortingCriteria('amount')"></span>
        </th>
        <th style="width: 140px;"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="counterparty in counterpartyList | orderBy:sortColumn:sortReverse | filter:filter_category:strict">
        <td>{{ counterparty.name }}</td>
        <td>{{ counterparty.email }}</td>
        <td class="text-right">
          {{ counterparty.total}} <span class="text-primary">{{defaultCurrency}}</span>&nbsp;&nbsp;
        </td>
        <td class="text-right">
          &nbsp;&nbsp;
          <span class="glyphicon glyphicon-eye-open control-icon-blue" bs-tooltip title="See his list of loans"
                ng-click="seeLoansList(counterparty)"></span>
          <span class="glyphicon glyphicon-pencil control-icon-green" bs-tooltip title="Edit counterparty!"
                  ng-click="saveCounterparty(counterparty)"></span>
          <span class="glyphicon glyphicon-trash control-icon-red" bs-tooltip title="Delete counterparty!"
                ng-click="deleteCounterparty(counterparty)"></span>
        </td>
      </tr>
      <tr ng-show="expenses.length == 0">
        <td style="font-style:italic;" colspan="5">No counterparty have been found!</td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<loading-page width="150px" message="Processing ..." ng-if="loading == true"></loading-page>

