<div class="container sign-up-container">
  <h3 style="text-align:center;"><img src="images/renew_form.svg"> FORGOT PASSWORD - RENEW</h3>
  <br/>
  <form class="form-horizontal" role="form" ng-submit="submit()" ng-show="loading == false">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">New password<span style="color:#ff3333;">*</span> :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter new password ..." ng-model="forgot_obj.np"
               bs-tooltip title="Password should contain at least 8 characters" required >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Retype<span style="color:#ff3333;">*</span> :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="ret_pwd" placeholder="Retype new password ..." ng-model="retyped_password"
               bs-tooltip title="Password should contain at least 8 characters" required >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"> </label>
      <div class="col-sm-10">
        <span style="color:#ff3333;">* Required field</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <button type="submit" class="btn accountant-btn submit-btn">
          <span class="glyphicon glyphicon-circle-arrow-right"></span> Submit
        </button>
      </div>
      <div class="col-sm-7"></div>
    </div>
  </form>

  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>
</div>
