<div class="container sign-up-container">
  <h3 style="text-align:center;"><img src="images/incomes_chart.svg"> INCOMES CHART <span ng-if="default_currency" style="font-style: italic;">({{default_currency}})</span></h3>
  <br/>
  <br/>
  <div class="form-group">
    <label class="control-label col-sm-3">Graphic type:</label>
    <div class="col-sm-8">
      <select type="date" class="form-control" id="graphic" placeholder="Category" ng-model="graphic_type" required>
        <option ng-repeat="graphic in graphics" value="{{graphic}}" required>{{graphic}}</option>
      </select>
    </div>
  </div>
  <br>
</div>
<br>

<div id="graphic_container">
  <div ng-show="loading == false">
    <div id="selection_area" class="form-group">
      <label class="col-sm-4">
        <span class="input-label">From: </span>
        <input type="date" ng-model="incomeFromDate" ng-change="onDateSelect()">
      </label>
      <label class="col-sm-4">
        <span class="input-label">Until: </span>
        <input type="date" ng-model="incomeUntilDate" ng-change="onDateSelect()">
      </label>
      <div class="col-sm-1">
        <span class="glyphicon glyphicon-info-sign" bs-tooltip title="Incomes are presented in your default currency: {{default_currency}}"></span>
      </div>
      <div class="col-sm-3" ng-if="graphic_type == 'DYNAMIC'" >
        <button type="button" class="btn accountant-btn" ng-click="toggleDynamicGraphic()">
          <span class="glyphicon glyphicon-retweet"></span> Toggle graphic type
        </button>
      </div>
    </div>

    <div id="linear_chart" ng-if="graphic_type == 'LINEAR'" >
      <label ng-if="dataLinear.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/>- No incomes for the selected period -
      </label>
      <canvas class="chart chart-line" chart-data="dataLinear" chart-legend="true"
              chart-labels="labelsLinear" chart-series="seriesLinear"
              chart-click="onClick" >
      </canvas>
    </div>

    <div id="bar_chart" ng-if="graphic_type == 'BAR'" >
      <label ng-if="dataBar.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/>- No incomes for the selected period -
      </label>
      <canvas class="chart chart-bar"
              chart-data="dataBar" chart-labels="labelsBar" chart-series="seriesBar" chart-legend="true">
      </canvas>
    </div>

    <div id="dynamic_chart" ng-if="graphic_type == 'DYNAMIC'">
      <label ng-if="dataDynamic.length === 0" class="warn-chart-label">
        <br/><br/><br/><br/>- No incomes for the selected period -
      </label>
      <canvas class="chart-base" chart-type="typeDynamic"
              chart-data="dataDynamic" chart-labels="labelsDynamic" chart-legend="true">
      </canvas>
    </div>

    <br>
  </div>

  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>
</div>



