<div class="container sign-up-container">
  <h3 style="text-align:center;"><img src="images/incomes_history.svg"> INCOMES HISTORY</h3>
</div>
<br>
<div class="form-group">
  <label class="col-sm-4">
    <span class="input-label">From: </span>
    <input type="date" ng-model="incomeFromDate" ng-change="retrieveIncomeList()">
  </label>
  <label class="col-sm-4">
    <span class="input-label">Until: </span>
    <input type="date" ng-model="incomeUntilDate" ng-change="retrieveIncomeList()">
  </label>
  <div class="col-sm-4">
    <button type="button" class="btn btn-block accountant-btn" ng-click="addIncomeAttempt()">
      <span class="glyphicon glyphicon-plus"></span> Add new income
    </button>
  </div>
</div>
<br>
<br>
<div>
  <table class="table table-bordered table-hover" ng-show="loading == false">
    <thead class="grey-bg">
    <tr>
      <th>Name
        <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by name" ng-click="changeSortingCriteria('name')"></span>
      </th>
      <th>Amount
        <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by amount" ng-click="changeSortingCriteria('amount')"></span>
      </th>
      <th>Currency
        <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by currency" ng-click="changeSortingCriteria('currency')"></span>
      </th>
      <th>Date
        <span class="glyphicon glyphicon-sort header-icon control-icon-blue" bs-tooltip title="Sort by date" ng-click="changeSortingCriteria('creationDate')"></span>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="income in incomes | orderBy:sortColumn:sortReverse" bs-tooltip title="{{income.description}}" >
      <td>{{ income.name }}</td>
      <td>{{ income.amount }}</td>
      <td>{{ income.currency }}</td>
      <td>{{ income.creationDate | date:'medium' }}</td>
      <td>
        <span class="glyphicon glyphicon-pencil control-icon-green" bs-tooltip title="Edit income!" ng-click="editIncome(income)"></span>
        <span class="glyphicon glyphicon-trash control-icon-red" style="float:right;" bs-tooltip title="Delete income!"
              ng-click="deleteIncome(income)"></span></td>
    </tr>
    <tr ng-show="incomes.length == 0">
      <td style="font-style:italic;" colspan="5">No income have been found!</td>
    </tr>
    </tbody>
  </table>

  <loading-page width="150px" message="Processing ..." ng-show="loading == true"></loading-page>
</div>
