<div class="container sign-up-container">
  <h2 style="text-align:center;"><img src="images/incomes_history.svg"> {{isEng() ? 'INCOMES HISTORY':'ISTORIC INCASARI'}}</h2>
  <br>
</div>
<br>
<button type="button" class="btn btn-primary btn-block" ng-click="addIncomeAttempt()">{{isEng() ? 'Add new income':'Adauga incasare noua'}}</button>
<br>
<div>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>{{isEng() ? 'Name':'Nume'}}
        <span class="glyphicon glyphicon-sort" bs-tooltip title="{{isEng() ? 'Sort by name':'Sorteaza dupa nume'}}" ng-click="changeSortingCriteria('name')"></span>
      </th>
      <th>{{isEng() ? 'Amount':'Suma'}}
        <span class="glyphicon glyphicon-sort" bs-tooltip title="{{isEng() ? 'Sort by amount':'Sorteaza dupa suma'}}" ng-click="changeSortingCriteria('amount')"></span>
      </th>
      <th>{{isEng() ? 'Date':'Data'}}
        <span class="glyphicon glyphicon-sort" bs-tooltip title="{{isEng() ? 'Sort by date':'Sorteaza dupa data'}}" ng-click="changeSortingCriteria('creationDate')"></span>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="income in incomes | orderBy:sortColumn:sortReverse" bs-tooltip title="{{income.description}}" >
      <td>{{ income.name }}</td>
      <td>{{ income.amount }}</td>
      <td>{{ income.creationDate | date:'medium' }}</td>
      <td>
        <span class="glyphicon glyphicon-pencil" bs-tooltip title="{{isEng() ? 'Edit income':'Editeaza incasarea'}}!" ng-click="editIncome(income)"></span>
        <span class="glyphicon glyphicon-trash" style="float:right;" bs-tooltip title="{{isEng() ? 'Delete income':'Sterge incasarea'}}!"
              ng-click="deleteIncome(income)"></span></td>
    </tr>
    <tr ng-show="incomes.length == 0">
      <td style="font-style:italic;" colspan="5">{{isEng() ? 'No income have been found':'Nici o incasare nu a fost gasita'}}!</td>
    </tr>
    </tbody>
  </table>
</div>
